.cart{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 200px;
}
a{
    text-decoration: none;
}
.list1{
    color: rgb(10, 98, 150);
}
.noprod{
    color:rgb(10, 98, 150);
}
