.product{
    max-width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;
    transition: transform 0.2s ease-in-out
    
    }
img{
    width: 100px;
    height: 100px;
    }
.tittle{
    font-size: 15px;
    text-decoration: none;
    color: rgb(10, 98, 150);
    text-shadow: 2px 2px 4px #000000;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; 
    }


